div

{
  height: 200px;
  width: 200px;
} 

html

{
    background-color:#352F44;
}

h1
{
    text-align:center;
    color:#F35F5F;
}
h2
{
    text-align:center;
    color: #CC435F;
}
p
{
color: #F1EA65;
text-align: center;
}

p
{
  margin: 0px;

}

#first

{
  
  padding: 20px;
}
 
#second

{
 
  margin-top: 500px;
    border-width: 20px 10px;
  margin-left: 400px;
  padding: 20px;
}

#third

{
  margin-top: 500px;

}

a
{
  color:  #fffb73
}

 
 
